code:not([class]) {
    border: 1px solid #ddd;
    background: #f6f6f6;
    padding: 3px;
    border-radius: 3px;
    font-size: 14px;
    color: #c7254e;
}

pre {
    padding: 10px;
    border: 1px solid #ddd;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.6;
    font-family: "YaHei Consolas Hybrid", Consolas, "Meiryo UI", "Malgun Gothic", "Segoe UI", "Trebuchet MS", Helvetica, monospace, monospace;
    background: #f6f6f6;
    border-radius: 3px;
    overflow: auto;
    font-size: 85%;
    margin-top: 0;
    margin-bottom: 16px;
    word-break: break-all;
}